*{
    font-family: sans-serif;
}
body{
    margin: 0;
}
#pageWrapper{
    width: 1000px;
    margin: 0 auto;
}
#bodyWrapper{
    border-top: 6px solid #FF9C0F;
}

#headerContainer{
    display: flex;
}
#logoContainer{
    flex: 1;
}
#logoContainer img{
    max-width: 250px;
}
#navContainer{
    flex: 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#nav{
    font-size: 16px;
    margin: 0;
    list-style: none;
    padding: 0;
}
#nav li{
    display: inline-block;
}
#nav li a{
    padding: 15px;
    background-color: #aaa;
    margin-left: 15px;
    color: #000;
}



/* Body */
#bodyContainer{
    display: flex;
}
#main{
    flex-grow: 4;
    width: 600px;
    padding: 20px;
}
.text{
    margin: 5px 5px 30px 5px;
}
.text h1{
    margin: 0;
    color: 	rgb(170, 106, 17);
}
.text p{
    margin: 0;
    font-size: 16px;
}
.text a{
    font-size: 16px;
    color: rgb(170, 106, 17) ;
}

#aside{
    flex-grow: 1;
    width: 200px;
    padding: 20px;
    background-color:#FF9C0F ;
}
#aside h1{
    text-align: center;
    margin-bottom: 40px;
    font-size: 25px;
    color: #fff;
}
.text2{
    margin-bottom: 40px;
    margin-right: 13px;
}
.text2 h2{
    font-weight: bold;
}
.text2 p{
    font-size: 15px;
}
.text2 a{
    color: rgb(151, 95, 15) ;
    font-size: 16px;
}



div, ul{
    min-height: 10px;
}
a{
    text-decoration: none;
}