<html>

<head>
    <link rel="stylesheet" type="text/css" href="./styles.css">
</head>

<body>
    <div id="vueApp">
        <div id="pageWrapper">
            <div id="headerContainer">
                <div id="logoContainer">
                    <img src="stopwatch-baseball.jpg">
                </div>
                <div id="navContainer">
                    <ul id="nav">
                        <li><a href="home.html">Home</a></li>
                        <li><a href="game.html">Game</a></li>
                        <li><a href="help.html">Help</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
            </div>
            {{gameState}}
            <div id="bodyWrapper">
                <div id="scoreBoard">
                    <h2>ScoreBoard</h2>
                    <table>
                        <tr>
                            <th id="firstbox">Innings</th>
                            <td v-for="(inning,inningNumber) in gameState.runsPerInning">
                                {{inningNumber}}
                            </td>
                            <td id="Runs">Runs</td>
                            <td id="hits">Hits</td>
                            <td id="errors">Errors</td>
                        </tr>
                        <tr>
                            <th id="firstbox">Away</th>
                            <td v-for="(inning,inningNumber) in gameState.runsPerInning">
                                {{inning.visitor}}
                            </td>
                            <td id="Runs">{{visitorScore}}</td>
                            <td id="hits">{{awayTotalHits}}</td>
                            <td id="errors"></td>
                        </tr>
                        <tr>
                            <th id="firstbox">Home</th>
                            <td v-for="(inning,inningNumber) in gameState.runsPerInning">
                                {{inning.home}}
                            </td>

                            <td id="Runs">{{homeScore}}</td>
                            <td id="hits">{{homeTotalHits}}</td>
                            <td id="errors"></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div id="clock">
                <div>
                    <div class="time">{{ clockData.time }}</div>
                </div>
                <div class="btn-container">
                    <a href="javascript:;" @click="startTimer" id="start">Start</a>
                    <a href="javascript:;" @click="stopTimer" id="stop">Stop</a>
                    <a href="javascript:;" @click="resetTimer" id="reset">Reset</a>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    var clock = new Vue({
        el: '#vueApp',
        data: {
            gameState: {
                runsPerInning: {
                    1: {
                        home: 0,
                        visitor: 0
                    },
                    2: {
                        home: 0,
                        visitor: 0
                    },
                    3: {
                        home: 0,
                        visitor: 0
                    }
                },
                // This is when the game starts
                baseRunners: [],
                currentInning: 1,
                currentOuts: 0,
                currentlyBatting: 'visitor' //home|visitor
            },
            // This is the clock settings when it's at zero
            clockData: {
                time: "00:00.00",
                timeBegan: null,
                timeStopped: null,
                stoppedDuration: 0,
                started: null,
                running: false,
                clockMs: 0
            }
        },
        computed: {
            homeScore() {
                //TODO: calculate actual homescore
                return 0
            },
            visitorScore() {
                return 0
            },
            awayTotalHits() {
                return 0
            },
            homeTotalHits() {
                return 0
            }

        },
        mounted() {
            //this is for testing
            this.gameState.baseRunners = [0];
            this.registerAtBat(2);
        },
        methods: {
            registerAtBat: function(result) {

                //TODOs what do we do with an out?
                if (result == 0) {
                    this.gameState.currentOuts++;
                }

                if (this.gameState.currentOuts == 3) {
                    this.changeInning();
                }

                for (var i in this.gameState.baseRunners) {
                    this.gameState.baseRunners[i] += result;
                }

                this.gameState.baseRunners.push(result); //our new batter gets on base


                //check for runs
                for (var i in this.gameState.baseRunners) {
                    if (this.gameState.baseRunners[i] >= 4) { //Added the >= 4 this means that anything for 4 bases equals a run
                        //TODO figure out how to get the runners who scored out of our array
                        this.registerRun();
                        
                    }
                }

            },
            registerRun: function() {
                alert("RUN SCORED");
                this.gameState.runsPerInning[this.gameState.currentInning][this.gameState.currentlyBatting] += 1;
            
            },
            
            changeInning() {
                if (this.gameState.currentlyBatting == 'visitor') {
                    this.gameState.currentlyBatting = 'home';
                } else if (this.gameState.currentlyBatting == 'home') {
                    this.gameState.currentlyBatting = 'visitor';
                    this.gameState.currentInning++;
                }

                //RESET STATE FOR INNING
                this.gameState.currentOuts = 0;
                this.gameState.baseRunners = []
                //TODO reset base runners

                //TODO what do we do at the end of the game?

            },





            ///CLOCK FUNCTIONS
            startTimer: function() {
                if (this.clockData.running) return;

                if (this.clockData.timeBegan === null) {
                    this.resetTimer();
                    this.clockData.timeBegan = new Date();
                }

                if (this.clockData.timeStopped !== null) {
                    this.clockData.stoppedDuration += (new Date() - this.clockData.timeStopped);
                }

                this.clockData.started = setInterval(this.clockRunning, 10);
                this.clockData.running = true;
            },

            stopTimer: function() {
                this.clockData.running = false;
                var result;
                if (clockMs == 97 || clockMs == 3) {
                    result = 1;
                } else if (clockMs == 98 || clockMs == 2) {
                    result = 2;
                } else if (clockMs == 99 || clockMs == 1) {
                    result = 3;
                } else if (clockMs == 0) {
                    result = 4;
                } else {
                    result = 0;
                }

                this.clockData.timeStopped = new Date();

                clearInterval(this.clockData.started);

                var self = this;
                setTimeout(function() {
                    self.registerAtBat(result);
                }, 10)

            },
            resetTimer: function() {
                this.clockData.running = false;
                clearInterval(this.clockData.started)
                this.clockData.stoppedDuration = 0;
                this.clockData.timeBegan = null;
                this.clockData.timeStopped = null;
                this.clockData.time = "00:00.00";
            },

            clockRunning: function() {
                var currentTime = new Date(),
                    timeElapsed = new Date(currentTime - this.clockData.timeBegan - this.clockData.stoppedDuration),
                    min = timeElapsed.getUTCMinutes(),
                    sec = timeElapsed.getUTCSeconds(),
                    ms = timeElapsed.getUTCMilliseconds();


                ms = ms / 1000;
                ms = ms.toFixed(2);
                ms = ms.replace(/^0\.+/, '');
                clockMs = ms;
                this.clockData.time =
                    this.zeroPrefix(min, 2) + ":" +
                    this.zeroPrefix(sec, 2) + '.' +
                    ms
                    //replace "0." with '' = 55
            },

            zeroPrefix: function(num, digit) {
                var zero = '';
                for (var i = 0; i < digit; i++) {
                    zero += '0';
                }
                return (zero + num).slice(-digit);
            }

        }
    });


    // zeroPrefix(100, 2);
</script>



</html>