<html>

<head>
    <link rel="stylesheet" type="text/css" href="./styles.css">
</head>

<body>
    <div id="vueApp">
        <div id="pageWrapper">
            <div id="headerContainer">
                <div id="logoContainer">
                    <img src="stopwatch-baseball.jpg">
                </div>
                <div id="navContainer">
                    <ul id="nav">
                        <li><a href="home.html">Home</a></li>
                        <li><a href="game.html">Game</a></li>
                        <li><a href="help.html">Help</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
            </div>
            {{gameState}}

            <h2>
                {{topOrBottom}} of the {{gameState.currentInning}}
            </h2>
            <h3 style="text-align: center">
                {{gameState.currentOuts}} Outs
            </h3>
            <h3 style="text-align: center">
                Runners on {{gameState.baseRunners}}
            </h3>

            <div id="bodyWrapper">
                <div id="scoreBoard">
                    <h2>ScoreBoard</h2>
                    <table>
                        <tr>
                            <th id="firstbox">Innings</th>
                            <td v-for="(inning,inningNumber) in gameState.runsPerInning">
                                {{inningNumber}}
                            </td>
                            <td>Runs</td>
                            <td>Hits</td>
                        </tr>
                        <tr>
                            <th id="firstbox">Away</th>
                            <td v-for="(inning,inningNumber) in gameState.runsPerInning">
                                {{inning.visitor}}
                            </td>
                            <td id="visitorRuns">{{visitorScore}}</td>
                            <td id="hits">{{gameState.hits.visitor}}</td>
                        </tr>
                        <tr>
                            <th id="firstbox">Home</th>
                            <td v-for="(inning,inningNumber) in gameState.runsPerInning">
                                {{inning.home}}
                            </td>
                            <td id="homeRuns">{{homeScore}}</td>
                            <td id="hits">{{gameState.hits.home}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div id="clock">
                <div>
                    <div class="time">{{ clockData.time }}</div>
                </div>
                <div class="btn-container">
                    <a href="javascript:;" @click="startTimer" id="start">Start</a>
                    <a href="javascript:;" @click="stopTimer" id="stop">Stop</a>
                    <a href="javascript:;" @click="resetTimer" id="reset">Reset</a>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    const sleep = (milliseconds) => {
        return new Promise(resolve => setTimeout(resolve, milliseconds))
    }
    var clock = new Vue({
        el: '#vueApp',
        data: {
            gameState: {
                runsPerInning: {
                    1: {
                        home: 0,
                        visitor: 0
                    },
                    2: {
                        home: 0,
                        visitor: 0
                    },
                    3: {
                        home: 0,
                        visitor: 0
                    }
                },
                // This is when the game starts, this is objects
                baseRunners: [],
                currentInning: 1,
                currentOuts: 0,
                currentlyBatting: 'visitor', //home|visitor
                hits: {
                    home: 0,
                    visitor: 0,
                }
            },
            // This is the clock settings when it's at zero
            clockData: {
                time: "00:00.00",
                timeBegan: null,
                timeStopped: null,
                stoppedDuration: 0,
                started: null,
                running: false,
                clockMs: 0
            }
        },
        computed: {
            homeScore() {
                console.log("checking for score changes")
                var score = 0;
                for (var i in this.gameState.runsPerInning) {
                   score += this.gameState.runsPerInning[i].home
                }
                return score;
            },
            visitorScore() {
                console.log("checking for score changes")
                var score = 0;
                for (var i in this.gameState.runsPerInning) {
                   score += this.gameState.runsPerInning[i].visitor
                }
                return score;
            },
            outsPerInning() {
                return this.gameState.currentOuts;
            },
            topOrBottom() {
                if (this.gameState.currentlyBatting == 'visitor') {
                    return 'Top';
                } else {
                    return 'Bottom'
                }
            }
        },
        mounted() {
            this.fakeGame();
        },
        methods: {
            registerAtBat: function(basesAdvanced) { //this happens AFTER the at bat when we know how much to advance


                //1. If it's an out, we add an out
                //2. if we now have 3 outs, we change the inning
                //3. We advance all the base runners to their new bases
                //4. We put the batter on base

                if (basesAdvanced == 0) { //that's an out
                    this.gameState.currentOuts++; // FIXS, this makes it so that there is 1 out to start with

                    if (this.gameState.currentOuts == 3) { //this is 3 outs so we're changing innings
                        this.changeInning();
                    }

                    return; //IF THIS AN OUT DON'T GO ANY FURTHER IN THIS FUNCTION
                }
                // this code sees who is currently batting and registers and adds a
                //a hit to the score board if they got a hit!.

                if (this.gameState.currentlyBatting == 'visitor')
                    this.gameState.hits.visitor++;
                if (this.gameState.currentlyBatting == 'home')
                    this.gameState.hits.home++;
                //if visitor currently batting add to visitor
                //same with home



                // console.log("CURRENT BASE RUNNERS: " + this.gameState.baseRunners.length);
                for (var i in this.gameState.baseRunners) { //for everyone already on base
                    var currentBaseofThisRunner = this.gameState.baseRunners[i]
                    currentBaseofThisRunner = currentBaseofThisRunner + basesAdvanced; //advance them by our current hit
                    this.gameState.baseRunners[i] = currentBaseofThisRunner; //update the runner's base with his new base
                }


                this.gameState.baseRunners.push(basesAdvanced); //add our new base runner


                //check for runs
                for (var i in this.gameState.baseRunners) {
                    if (this.gameState.baseRunners[i] >= 4) { //Added the >= 4 this means that anything for 4 bases equals a run
                        this.registerRun();
                    }
                }

                //This clears out the Array so that any baseRunners over 4 are moved out and count as a score.
                var underBaseFour = [];
                for (var i in this.gameState.baseRunners) {
                    if (this.gameState.baseRunners[i] < 4) {
                        underBaseFour.push(this.gameState.baseRunners[i]);
                    }
                }
                this.gameState.baseRunners = underBaseFour;

            },
            registerRun: function() {
                this.gameState.runsPerInning[this.gameState.currentInning][this.gameState.currentlyBatting] += 1;

            },
            changeInning() {
                if (this.gameState.currentlyBatting == 'visitor') {
                    this.gameState.currentlyBatting = 'home';
                } else if (this.gameState.currentlyBatting == 'home') {
                    this.gameState.currentlyBatting = 'visitor';
                    this.gameState.currentInning++;
                }

                //RESET STATE FOR INNING
                this.gameState.currentOuts = 0;
                this.gameState.baseRunners = []
                    //TODO reset base runners

                //TODO what do we do at the end of the game?

            },





            ///CLOCK FUNCTIONS
            startTimer: function() {
                if (this.clockData.running) return;

                if (this.clockData.timeBegan === null) {
                    this.resetTimer();
                    this.clockData.timeBegan = new Date();
                }

                if (this.clockData.timeStopped !== null) {
                    this.clockData.stoppedDuration += (new Date() - this.clockData.timeStopped);
                }

                this.clockData.started = setInterval(this.clockRunning, 10);
                this.clockData.running = true;
            },

            stopTimer: function() {
                this.clockData.running = false;
                var basesAdvanced;
                if (clockMs == 97 || clockMs == 3) {
                    basesAdvanced = 1; // this is a single
                } else if (clockMs == 98 || clockMs == 2) {
                    basesAdvanced = 2; //this is a double
                } else if (clockMs == 99 || clockMs == 1) {
                    basesAdvanced = 3; //this is a triple
                } else if (clockMs == 0) {
                    basesAdvanced = 4; //this is a homerun
                } else {
                    basesAdvanced = 0; //this is an out
                }

                //stop the clock
                this.clockData.timeStopped = new Date();
                clearInterval(this.clockData.started);


                var self = this;
                setTimeout(function() {
                    //register the at bat and pass it the number of bases advanced
                    self.registerAtBat(basesAdvanced);
                }, 10)

            },
            resetTimer: function() {
                this.clockData.running = false;
                clearInterval(this.clockData.started)
                this.clockData.stoppedDuration = 0;
                this.clockData.timeBegan = null;
                this.clockData.timeStopped = null;
                this.clockData.time = "00:00.00";
            },

            clockRunning: function() {
                var currentTime = new Date(),
                    timeElapsed = new Date(currentTime - this.clockData.timeBegan - this.clockData.stoppedDuration),
                    min = timeElapsed.getUTCMinutes(),
                    sec = timeElapsed.getUTCSeconds(),
                    ms = timeElapsed.getUTCMilliseconds();


                ms = ms / 1000;
                ms = ms.toFixed(2);
                ms = ms.replace(/^0\.+/, '');
                clockMs = ms;
                this.clockData.time =
                    this.zeroPrefix(min, 2) + ":" +
                    this.zeroPrefix(sec, 2) + '.' +
                    ms
                    //replace "0." with '' = 55
            },

            zeroPrefix: function(num, digit) {
                var zero = '';
                for (var i = 0; i < digit; i++) {
                    zero += '0';
                }
                return (zero + num).slice(-digit);
            },

            async fakeGame() {
                this.registerAtBat(0);
                await sleep(100);
                // alert("Out - There should be 1 out and no one on base");

                this.registerAtBat(2);
                await sleep(100);
                // alert("Double - There should be 1 out and bases [2]");

                this.registerAtBat(1);
                await sleep(100);
                // alert("Single - There should be 1 out and bases [1,3]");

                this.registerAtBat(3);
                await sleep(100);
                // alert("Triple - There should be 1 out and bases [3] and score should be 2-0");

                this.registerAtBat(0);
                await sleep(100);
                // alert("Out - There should be 2 outs and bases [3]");

                this.registerAtBat(4);
                await sleep(100);
                // alert("HR - There should be 2 outs and and no one on base and score should be 4-0");

                this.registerAtBat(0);
                await sleep(100);
                // alert("Out - Inning Switch");

                ///BOTTOM OF THE FIRST
                this.registerAtBat(0);
                await sleep(100);
                // alert("Out - There should be 1 out and no one on base");

                this.registerAtBat(1);
                await sleep(100);
                // alert("Single - There should be 1 out and bases [1]");

                this.registerAtBat(0);
                await sleep(100);
                // alert("Out - There should be 2 outs and bases [1]");

                this.registerAtBat(1);
                await sleep(100);
                // alert("Single - There should be 2 outs and bases [1,2]");

                this.registerAtBat(0);
                await sleep(100);
                // alert("Out - Inning Change");

            }

        }
    });


    // zeroPrefix(100, 2);
</script>



</html>